packages/cli/node_modules
packages/cli/.pnp
packages/cli/.pnp.js

packages/local-api/node_modules
packages/local-api/.pnp
packages/local-api/.pnp.js

packages/local-client/node_modules
packages/local-client/.pnp
packages/local-client/.pnp.js


lerna-debug.log